<div class="speech-container">
  <p> Samuel </p>
  <div> {{ speechData }} </div>
  <div> {{ lang }} </div>
</div>

<div class="flex-container wrap">

  <!-- First Line -->
  <div id="letters" class="flex-item"></div>
  <div id="numbers" class="flex-item"></div>
  <div id="planets" class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>

  <!-- Second Line -->
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>

  <!-- Third Line -->
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>

  <!-- Fourth Line -->
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>
  <div class="flex-item"></div>

</div>
