@font-face {
  font-family: gwibble;
  src: url(../assets/fonts/GWIBBLE_.TTF) format("opentype");
}
/* By tag */
footer {
  height: 1%;
  text-align: center;
}

/* By class */
.navigation-toolbar {
  background-color: rgba(4, 71, 254, .25);
  height: 7%;
}

.main {
  height: 90%;
  overflow: hidden;
}

.right {
  left: 59%;
}
.title {
  font-size: 2vw;
  font-family: 'gwibble', 'arial', sans-serif;
}
/* By ID */
#footer-logo {
  width: 1%;
}
