<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="navigation-toolbar">

  <span class="title" routerLink="/landing" routerLinkActive="active"> {{ title }} </span>
  <button mat-raised-button (click)="changeLanguage()" [ngClass]="{ rightam: selectedLanguage==='am-ET', rightde: selectedLanguage==='de-DE', righten: selectedLanguage==='en-GB', rightfr: selectedLanguage==='fr-FR' }"> <b> {{ languages[iterator].langName }} </b> &nbsp; <img class="right" src="{{ languages[iterator].flag }}" /> </button>

</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>
</div>

<footer>
  <!-- Copyright -->
  © 2019 Copyright, &nbsp; <b> Nisshoku Industries </b> &nbsp; <img id="footer-logo" src="./assets/images/logo.png" />
</footer>

